@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'High Speed';
  src: url('./assets/fonts/High Speed.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'High Speed', cursive;
}
